/* ///////////////// */
/* Paleta de colores
/* ///////////////// */

/* 
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a; */

/* ///////////////// */
/* Tipografías */
/* ///////////////// */

/* Familia: 'Roboto' */

/* ///////////////// */
/* Tamaños Tipográficos */
/* ///////////////// */

/* Cuerpos de texto: 12px
Titulares (Basado en tu última visita/Ofertas): 24px
Precios: 18px
Descuentos: 16px
Descripciones: 16px */

/* ///////////////// */
/* Iconos */
/* ///////////////// */

/* https://fontawesome.com/icons?d=gallery&m=free */

/* ///////////////////////////////// */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* 10px / 16px = 0.625 = 62.5% */
  /* Porcentage del font-size del browser del user */
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

p {
  font-size: 1.2rem;
}

header {
  width: 100vw;
  display: flex;
  background-color: #eac926;
  flex-direction: column;
  padding-bottom: 2rem;
}

/* ////////////// */

.logo {
  width: 50%;
  /* height: 9rem; */
  margin: 2rem;
}

.search-bar-div {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.search-bar {
  margin-left: 10px;
  height: 2.5rem;
  width: 85vw;
  font-size: 1.5rem;
}

.fa-magnifying-glass {
  font-size: 2rem;
}

/* ////////////// */

.compra-en-cuotas {
  text-align: center;
  padding: 2rem;
}

/* ////////////// */

.nav {
  list-style-type: none;
  margin-left: 10px;
  display: none;
}

.login-bar {
  margin-top: 20px;
}

.links-header {
  text-decoration: none;
  color: #03264c;
  font-size: 1.2rem;
}

/* ////////////// */

.burger-menu {
  text-align: center;
}

.fa-bars {
  background-color: #1259c3;
  font-size: 2.5rem;
  color: #fff;
  border-radius: 5px;
  padding: 1.2rem 1.4rem;
  margin-bottom: 20px;
}

/* ////////////// */

.banner {
  width: 100%;
  vertical-align: middle;
}

/* ////////////// */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 90vw; */
  padding: 0 5vw;
  background-color: #ebebeb;
}

main section {
  display: flex;
  flex-direction: column;
}

main section article img {
  width: 100%;
}

main section article {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  line-height: 2.5rem;
  margin-bottom: 10px;
}

.descripcion-producto {
  border-top: 1px solid #ebebeb;
  padding: 15px;
  padding-top: 1rem;
}

.titulares {
  font-size: 2.4rem;
  color: #666;
  margin-top: 10px;
  margin-bottom: 20px;
}

/* /// */
.delivery-icon-div {
  padding: 1rem 0;
}

.fa-truck {
  box-sizing: border-box;
  display: inline !important;
  width: 100%;
  font-size: 2rem;
  color: #39b54a;
  border-radius: 50%;
  border: 1px solid #39b54a;
  padding: 1rem;
}
/* /// */

.precios {
  font-size: 1.8rem;
}

.descuentos {
  font-size: 1.6rem;
  color: #39b54a;
}

.descripciones {
  font-size: 1.6rem;
  color: #666;
  display: none;
}

/* ///////////////////// */

footer div {
  text-align: center;
  margin-top: 40px;
  padding: 0 5rem;
}

footer h3 {
  color: #666;
  font-size: 1.6rem;
}

footer p {
  color: #666;
}

.footer-icons {
  color: #1259c3;
  font-size: 4rem;
  margin-bottom: 10px;
}

.copyright {
  margin-top: 30px;
  padding: 2rem;
}
